# SSBuild app config

###############
# You probably don't need to modify this section.
###############

# Location of this script
export BUILDROOT="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

###############
# This file expects $WORKSPACE to be populated at runtime,
# for example by a build system like Jenkins.
# If you're not using Jenkins, uncomment this and specify a path.
###############
# The root workspace folder into which your source has been cloned.
# export WORKSPACE=

# Path to the srcroot of the project, if not the same as WORKSPACE.
export SRCROOT=$WORKSPACE/src

# Location in which we will download Provisioning profiles
export JENKINS_PROFILES=$WORKSPACE/SSProfiles

##########
# BUILDING
##########

# Location of build output
OUTPUT=$WORKSPACE/output
OUTPUT_RELEASE=$OUTPUT/release
OUTPUT_ADHOC=$OUTPUT/adhoc

# Location of the workspace to build.
export APPWORKSPACE=$SRCROOT/MyWorkspace.xcworkspace

# Build scheme(s) to use
export SCHEME_RELEASE="MUDRammer Release"
export SCHEME_ADHOC="MUDRammer Adhoc"

# Name of the app, used for matching its IPA.
# This is probably the same as your target name.
export APPNAME="MUDRammer"

# The marketing (major) version of your app.
# The build script will overwrite any marketing version specified in the project.
export MARKETINGVERSION="1.0.0"

export RELEASE_DEFINES='GOOGLEANALYTICS_KEY=\@\"UA-123456-1\" CRASHLYTICS_KEY=\@\"BABAUPDOWNBALEFTRIGHTBASTART\"'
export ADHOC_DEFINES='TESTFLIGHT_KEY=\@\"TROLOLOLOLOLOL\" GOOGLEANALYTICS_KEY=\@\"UA-123456-2\" CRASHLYTICS_KEY=\@\"YOLO\"'

#############
# CODESIGNING
#############

# Locations of provisioning profiles.
# These names should match the names you've specified in Apple's developer center.
export ProvisionRelease=$JENKINS_PROFILES/MUDRammer.mobileprovision
export ProvisionAdhoc=$JENKINS_PROFILES/MRAdhoc.mobileprovision

# Your code signing identity
export CODESIGN_ID="iPhone Distribution: Jonathan Hersh"

# The location of the keychain used for signing, and the keychain's password.
export BUILD_KEYCHAIN=$BUILDROOT/MUDRammer.keychain
export BUILD_KEYCHAIN_PW="MYKEYCHAINPW"

# Your apple developer username and password, used to download distribution provisioning profiles.
export APPLE_UN="admin@splinesoft.net"
export APPLE_PW="YOLO"

############
# Archiving
############

# Name of the S3 bucket into which artifacts will be uploaded.
export S3_BUCKET="MY-BUKKET"
