# SSBuild app config

##########
# BUILDING
##########

# $WORKSPACE is provided by Jenkins at runtime.
# If you're not using Jenkins, uncomment this and specify a path.
# The root workspace folder into which your source has been cloned.
#export WORKSPACE=/path/to/my/app

# Path to the srcroot of the project
export SRCROOT="$WORKSPACE/src"

# Build tool to use. Currently supported is
# "xcodebuild" for xcodebuild with xcpretty (Default)
# "xctool" for xctool. (Requires you first `brew install xctool`)
export BUILD_TOOL="xcodebuild"

# Location to put build output
export OUTPUT="$WORKSPACE/output"
export RELEASE_OUTPUT="$OUTPUT/release"
#export ADHOC_OUTPUT="$OUTPUT/adhoc"

# Location of the workspace to build.
export APPWORKSPACE="$SRCROOT/MyWorkspace.xcworkspace"

# Build scheme(s) to use
export RELEASE_SCHEME="MUDRammer Release"
#export ADHOC_SCHEME="MUDRammer Adhoc"

# Name of the app, used for matching its IPA.
# This is probably the same as your target name.
export APPNAME="MUDRammer"

# The marketing (major) version of your app.
# If specified, the build script will overwrite any marketing version specified in the project.
#export MARKETINGVERSION="1.0"

# The build (minor) version of your app.
# If specified, the build script will overwrite any build number specified in the project.
# Jenkins provides this automatically at build time.
#export BUILD_NUMBER="100"

# Preprocessor defines to include in release and adhoc builds.
# This is a good place for API keys, which really ought not be checked into version control.
export RELEASE_DEFINES='GOOGLEANALYTICS_KEY=\@\"UA-123456-1\" CRASHLYTICS_KEY=\@\"BABAUPDOWNBALEFTRIGHTBASTART\"'
#export ADHOC_DEFINES='ADHOC=1 TESTFLIGHT_KEY=\@\"TROLOLOLOLOLOL\" GOOGLEANALYTICS_KEY=\@\"UA-123456-2\" CRASHLYTICS_KEY=\@\"YOLO\"'

#############
# CODESIGNING
#############

# Names of your provisioning profiles.
# These names should match the names you've specified in Apple's developer center.
export RELEASE_PROFILE="MUDRammer.mobileprovision"
#export ADHOC_PROFILE="MRAdhoc.mobileprovision"

# Your code signing identity
export CODESIGN_ID="iPhone Distribution: Bruce Wayne"

# The location of the keychain used for signing, and the keychain's password.
export BUILD_KEYCHAIN="$BUILDROOT/MUDRammer.keychain"
export BUILD_KEYCHAIN_PW="MYKEYCHAINPW"

# Your apple developer username and password, used to download distribution provisioning profiles.
export APPLE_UN="admin@splinesoft.net"
export APPLE_PW="YOLO"

###########
# Archiving
###########

# Name of the S3 bucket into which artifacts will be uploaded.
# export S3_BUCKET="MY-BUKKIT"

###########
# CHANGELOG 
###########

# If you're using Jenkins, SSBuild can generate
# a file containing the git commit history 
# since the last successful build.
export JENKINS_USER="jh"
export JENKINS_TOKEN="MY_API_TOKEN"
export CHANGELOG_FILE="changelog.txt"
export CHANGELOG_FORMAT="%an (%ae): \"%s\" %N%n"

########
# NOTIFY
########

# Pushover API token
export PUSHOVER_TOKEN="My Pushover Token"

# Pushover user or group ID
export PUSHOVER_RECIPIENT="My Pushover user or group ID"
